

.Bodybuttons {
    margin: 5%;
    width: 34%;
    align-items: center;
    background-color: #92D4D1;
    border-radius: 83px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.Curriculumbutton {
   height: 84px;
   width: 312px;
   background-color: #AEEBD8;
   margin-top: 5%;
   margin-left: 5%;
   border-radius: 31px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border: none;
   font-size: 30px;
}

.Softbutton {
    height: 84px;
    width: 312px;
    margin-left: 46%;
    margin-top: 13%;
    background-color: #AEEBD8;
    border-radius: 31px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 30px;
}

.Hardbutton {
    height: 84px;
    width: 312px;
    margin: 5%;
    margin-top: 13%;
    background-color: #AEEBD8;
    border-radius: 31px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 30px;
}

.textbox {
    margin-left: 40%;
    width: 34%;
    background: #92D4AC;
    border-radius: 83px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* .texto {
    margin: 15%;
} */